<div class="flex bg-slate-50 justify-center items-center h-screen w-screen">
  <div class="shadow-sm w-1/4 bg-white p-9 rounded-md">
    <h1 class="text-xl font-bold">Reset Password</h1>
    <p class="text-base mt-3 font-medium text-slate-700">New Password</p>
    <div class="flex flex-row justify-start items-center">
      <input
        type="{{ !passwordHide ? 'password' : 'text' }}"
        name="password"
        class="w-full mb-2 mt-1 border-gray-200 shadow-sm p-2 rounded-md relative"
        placeholder="New Password"
        [(ngModel)]="resetPassword.newPassword"
      />
      <mat-icon (click)="passwordHide = !passwordHide" matSuffix>{{
        !passwordHide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </div>
    <p class="text-base mt-3 font-medium text-slate-700">
      Confirm New Password
    </p>
    <div class="flex flex-row justify-start items-center">
      <input
        type="{{ !confirmPasswordHide ? 'password' : 'text' }}"
        name="password"
        class="w-full mb-2 mt-1 border-gray-200 shadow-sm p-2 rounded-md relative"
        placeholder="Confirm New Password"
        [(ngModel)]="confirmPassword"
      />
      <mat-icon
        (click)="confirmPasswordHide = !confirmPasswordHide"
        matSuffix
        >{{ !confirmPasswordHide ? "visibility_off" : "visibility" }}</mat-icon
      >
    </div>
    @if (passwordMissMatch) {
    <div>
      <p class="text-red-700 font-medium text-sm">Passwords dont match</p>
    </div>
    }
    <button
      (click)="resetPasswordHandle()"
      [disabled]="!resetPassword.email || !resetPassword.newPassword"
      class="w-full disabled:opacity-50 p-2 bg-slate-900 rounded-md text-white mt-2"
    >
      Reset Password
    </button>
  </div>
</div>
